body {
    font-family: 'Segoe UI', sans-serif;
    background: #eef2f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

.student-form,
.search-section,
.result-card {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}
.results-table {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #3498db;
    color: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
header {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 25px;
}

header p {
    margin-top: 5px;
    color: #dcdde1;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 10px;
}

.student-form,
.search-section,
.result-card,
.results-table {
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

button:hover {
    background: #2980b9;
    cursor: pointer;
}
td button {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
}

td button:hover {
    background: #c0392b;
    cursor:pointer;
}
footer{
    text-align:center;
    padding:15px;
    margin-top:20px;
    background:#2c3e50;
    color:white;
}